.ipynb_checkpoints/
__pycache__/
src_old/
LICENSE.md
src/m0_flat_ner/not_used/
src/m0_flat_ner/00-prepare_datasets.ipynb
src/m1_independant_ner_layers/M1_100-prepare_datasets-multihead.ipynb
src/m2_joint-labelling_for_ner/M2_200-prepare_datasets_joint_labelling.ipynb
src/m3_hierarchical_ner/M3_360-experiment_1_hierarchical_IN_hmr.ipynb
src/m3_hierarchical_ner/M3_360-experiment_1_hierarchical_IN.ipynb
src/m3_hierarchical_ner/tokenscaleanalysis-IO-PERO.pdf
src/m4_iterative_greedy_ner/
src/m5_spacy_spancat/
src/tests_divers/
src/t0_ocr_alignement
src/t1_dataset_tools/util_commons_in_hmr.py
src/t1_dataset_tools/util_commons_IN.py
src/t1_dataset_tools/util_io_in_hmr.py
src/t1_dataset_tools/util_io_IN.py
src/t1_dataset_tools/01_prepare_dataset_m2m3_IN_HR.ipynb
src/t2_metrics/ALL_experiment_IN.ipynb
src/t2_metrics/ALL_experiment_IN_hmr.ipynb
src/t3_save_models/
dataset/dataset_export.ipynb